@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Matidas CD-samling</h1>
    <p>Välkommen till min CD-samling. Här har jag listat alla mina CD-skivor. Jag har ävne skrivit upp vilka som har lånat vilka skivor och när.
       <br /> Vill du lägga till en CD-skiva? Börja med att lägga till en artist - sen är vi igång!
    </p>
</div>
