@model CdSamling.Models.Rent

@{
    ViewData["Title"] = "Edit";
}


<h4>Redigera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RentByName" class="control-label"></label>
                <input asp-for="RentByName" class="form-control" />
                <span asp-validation-for="RentByName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentdDate" class="control-label"></label>
                <input asp-for="RentdDate" class="form-control" />
                <span asp-validation-for="RentdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionId" class="control-label">Album</label>
                <select asp-for="CollectionId" class="form-control" asp-items="ViewBag.CollectionId"></select>
                <span asp-validation-for="CollectionId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="text-dark" asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
