@model CdSamling.Models.Artist

@{
    ViewData["Title"] = "Radera artist";
}


<h3>Är du säker på att vald artist ska raderas?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a class="text-dark" asp-action="Index">Tillbaka till lista</a>
    </form>
</div>
